* {
	font-family: 'Nunito Sans', sans-serif ;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: "Paytone One";
    font-size: 3rem;
}

p {
    font-size: 2 rem;
    font-kerning: auto;
}

/** estilos de navegacion**/

.navegacion {
    background-color: #2ab9a5 !important;
    height: 8rem;
    
}

.navegacion__custom {
    background-color: #2ab9a5;
    padding: 3px;
}

.nav-item {
color: cornsilk;
}


/** estilos de seccion 1**/


#section1 {
    background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 20px;

}

.img1 {
    display: flex;
    justify-content: center;
    }

.txt1 {
    margin: auto;
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: left;
    color: #FFF;
}

.parrafo1 {
    color: #FFF ;
    padding-top: 1rem;
    padding-bottom: 1rem ;
    font-size: 1.5rem;
}

/** estilos de seccion 2**/


#section2 {
    background: #FFF;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;

}

.img1 {
    display: flex;
    justify-content: center;
    }

.txt2 {
    margin: auto;
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: left;
    color: #2ab9a5;
}

.parrafo2 {
    color: #000000 ;
    padding-top: 1rem;
    padding-bottom: 1rem ;
    font-size: 1.5rem;
}


/** estilos de seccion 3**/


 .tarjeta__titulotarjeta {
  color:#1CAF68;
  padding: 5%;
  font-weight: bold ;
  font-size: 1.5rem;
  
}

.tarjeta__imagentarjeta{
    border-radius: 2rem;
}

.tarjeta__botonpersonalizado{
    color: #FFF;
    background-color: #1CAF68;
    border: none;
    padding: 10px;
    font-weight: bold;
}

/* contacto */

#mail{
    background-color: #1CAF68;
    text-align: center;
  }
  
  .contenido{
    padding: 30px;
  }
  
  .contenido p{
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
  }
  
  .contenido .mail-form{
    background-color: none;
    display: flex;
    border: 2px solid #97c74e;
    height: 50px;
    border-radius: 50px;
    margin: 0 auto;
  }
  
  .mail-form p{
    font-size: 16px;
    font-weight: 300;
    padding-top: 10px;
    padding-left: 20px;
  }
  
  .mail-form a{
    color: white;
    padding-top: 9px;
    margin-left: auto;
    padding-right: 1rem;
    font-weight: bolder;
  }

.suscript-mail
{justify-content: right;

}


/** estilos de footer**/

.piedepagina{
    padding: 30px 30px;
    margin: auto;
    background-color: #2ab9a5;
}